@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}
html {
    width: 100vw;
    height: 100vh;

    background-color: #23d5ab;
}
main .container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100vh;
    margin: 0 auto;
}
.container .form-container {
    width: 100%;
    max-width: 600px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container form {
    width: 100%;
    height: 100%;
    max-height: 400px;

    background-color: #ffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 20px;

    animation: opacity 2s ease;

    border-radius: 10px;
}
form .input-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
fieldset {
    border: none;

    margin-top: 20px;

    display: flex;
    flex-direction: column;

    width: 80%;
}
fieldset label {
    margin-bottom: 5px;
}
fieldset input {
    height: 40px;

    border: none;
    border-bottom: solid 1px #23a6d5;

    padding: 5px 5px 5px 0;

    font-size: 17px;

    outline: none;
}
form .button-container {
    width: 80%;
    height: 50px;

    display: flex;
    justify-content: center;

    margin-bottom: 20px;
}
.button-container button {
    height: 100%;
    width: 48%;

    border: none;

    background:#23d5ab;

    color: #ffff;

    outline: none;

    cursor: pointer;
    
    transition: opacity 0.2s;

    border-radius: 5px;
}
button:hover {
    opacity: 0.7;
}